#!/usr/bin/python
# -*- coding: utf8 -*-
#Copyright:@BaeSystemsAI
#Original author: Heri Sutrisno
#Email:harry.sutrisno@baesystems.com
#Description:payload yml file for user


foreman:
   
    auth:
        foreman_fqdn: bootstrap.example.com
        foreman_ip: 10.11.12.23
        foreman_user: admin
        foreman_pass: admin

    domain:
        - name: example.com
          fullname: this is example.com

    subnet:
        - name: subnet1
          network: 10.11.12.0
          mask: 255.255.255.0
          gateway: 10.11.12.1
          dns_primary: 10.11.12.7
          dns_secondary: 8.8.8.8
          vlanid:
          domain:
            - name: example.com
        - name: subnet2
          network: 13.11.12.0
          mask: 255.255.255.0
          gateway: 13.11.12.1
          dns_primary: 13.11.12.7
          dns_secondary: 8.8.8.8
          vlanid:
          domain:
            - name: example.com
      
    hostgroup:
        - name: ambari
          subnet: subnet1
          domain: example.com
          root_pass: as12345678

    primary_hosts:
        - name: agent1-ambariagent
          hostgroup: ambari
          ip: 10.11.12.4
          mac: 0800271AD0DA
        - name: agent2-ambariagent
          hostgroup: ambari
          ip: 10.11.12.5
          mac: 080027626A0D
        - name: agent3-ambariagent
          hostgroup: ambari
          ip: 10.11.12.6
          mac: 080027FE1A42
        - name: agent4-ambariagent
          hostgroup: ambari
          ip: 10.11.12.7
          mac: 08002708D5C2
        - name: agent5-ambariagent
          hostgroup: ambari
          ip: 10.11.12.8
          mac: 080027DF8EE5
        - name: agent6-ambariagent
          hostgroup: ambari
          ip: 10.11.12.9
          mac: 0800278B2194
        - name: agent7-ambariagent
          hostgroup: ambari
          ip: 10.11.12.10
          mac: 08002728805D
        - name: agent8-ambariagent
          hostgroup: ambari
          ip: 10.11.12.11
          mac: 08002743CB9C
        - name: agent9-ambariagent
          hostgroup: ambari
          ip: 10.11.12.12
          mac: 080027A55547
        - name: agent10-ambariagent
          hostgroup: ambari
          ip: 10.11.12.13
          mac: 080027D25FEE
        - name: agent11-ambariagent
          hostgroup: ambari
          ip: 10.11.12.14
          mac: 080027EE643F  
        - name: agent12-ambariagent
          hostgroup: ambari
          ip: 10.11.12.15
          mac: 0800275F8125
        - name: agent13-ambariagent
          hostgroup: ambari
          ip: 10.11.12.16
          mac: 080027ED84FE
        - name: agent14-ambariagent
          hostgroup: ambari
          ip: 10.11.12.17
          mac: 0800272F3847
        - name: agent15-ambariagent
          hostgroup: ambari
          ip: 10.11.12.18
          mac: 080027A5EAB2
        - name: master1-ambariserver
          hostgroup: ambari
          ip: 10.11.12.24
          mac: 080027BB1483   



          
