127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% set hostname = foreman_fqdn  %}
{% set listh = hostname.split('.') %}
{{ foreman_ip }} {{ hostname }} {{ listh[0] }}


